<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dengue.dengue_android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJXHVCAXR0ZqJl2k7f5qGawz6n4mQNT0Y" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Guild"/>
        <activity android:name=".router"/>
        <activity android:name=".hot"/>
        <activity android:name=".hospital"/>
        <activity android:name=".hospitalInfo"/>
        <activity android:name=".Drugbite"/>
        <activity android:name=".BreedingSource"/>
        <activity android:name=".BreedingSourceSubmit"/>
        <activity android:name=".UserSetting"/>
        <activity android:name=".UserSignup"/>
        <activity android:name=".UserLogin"/>
        <activity android:name=".userProfile"/>
        <activity android:name=".Report"/>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
